<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieintroduction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:background="?attr/selectableItemBackground"
        android:icon="@drawable/endgameposter"
        android:label="@string/app_name2"
        android:roundIcon="@drawable/endgameposter2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieIntroduction">
        <activity android:name=".AvengersStart"></activity>
        <activity android:name=".AntmanActivity" />
        <activity android:name=".StrangeActivity" />
        <activity android:name=".ActionViewActivity" />
        <activity android:name=".ThorActivity" />
        <activity android:name=".WandaActivity" />
        <activity android:name=".HulkActivity" />
        <activity android:name=".BlackWidowActivity" />
        <activity android:name=".CaptainAmerica" />
        <activity android:name=".IronmanActivity" />
        <activity android:name=".Avengers" />
        <activity
            android:name=".AppStartActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>